{% load staticfiles %}

<center>
	<div>{{data}}</div>
<html>
<head>
	 {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
	<link rel="stylesheet" href="{% static 'forgot.css' %}">
<body>
	<form action="{% url 'polls:forgot' %}" method="post" novalidate>
		{% csrf_token %}
	<h1>Forgot Password</h1>
	Enter Your Email: <input type="email" id="email1"name="email" value=""required autocomplete="off"/>
	<br><br><input type="submit" id="button" >
</body>
</head>
</html>
</center>