{% load staticfiles %}
<center><html>
<head>

	<body>
		<link rel="stylesheet" href="{% static/Css 'reset.css' %}">
		
		<form action="{% url 'polls:reset' %}" method="post" novalidate>
			{% csrf_token %}
     <h1>Here Reset Your Password!</h1><br>
     	Enter your Password:<input type="password" id="password" name="password" required autocomplete="off"><br><br><br>
     	ReEnter Your Password:<input type="password" id="repassword" name="repassword" required autocomplete="off"><br><br>
     	<input type="submit" id="button" >
	</body>
</head>
</html>
</center>

